# Ignore virtual environment
myenv/
.env
Backend/API/__pycache__
Backend/API/API.env

# Dependencies & Build
node_modules/
**/node_modules/
dist/
**/dist/

# OS & Logs
.DS_Store
**/.DS_Store
*.log
**/*.log

# Environment variables
.env.local
.env.*.local
**/.env
